# IMarkdown Test Input

This is some markdown, with **bold** and *italic* text.

This is a note.

This is markdown after a note

In [1]:
a = 1
print("I've just been run :)")
a

I've just been run :)

1

The next code cell has metadata.

In [2]:
from pandas import DataFrame
DataFrame([1, 2])

   0
0  1
1  2

Below is a raw cell.

I'm a \textbf{LaTeX} cell.

Final markdown cell